<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>CSCB20 - Introduction to Databases and Web Applications</title>
	<link rel="stylesheet" href ="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="header center">
		CSCB20 - Introduction to Databases and Web Applications
	</div>
	<div class="navbar">
		<ul>
			<li><a href ="/">Home</a></li>
            <li><a href ="/news">News</a></li>
			<li><a href ="/lectures">Lectures</a></li>
			<li><a class="show" href ="/labs">Labs</a></li>
			<li><a href ="/assignments">Assignments</a></li>
			<li><a href ="/tests">Tests</a></li>
			<li><a href ="/office">Office Hours</a></li>
            <li><a href ="/team">Course Team</a></li>
			<li><a href="/feedback">Feedback</a></li>
            <li><a href="/links">Links</a></li>
            <li><a href="/marks">Marks</a></li>
			<li><a href ="https://piazza.com/class/kk052lckppx73x/home">Discussion Board</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</div>
	<div class="content">
		<div class="content-box">
			<h3>Labs Schedule</h3>
			<hr>
			<p>
				All tutorials will be done on Zoom. <br>
				The links to all meetings are below: <br>
			</p>
			<div class="container">
				<!-- first box -->
				<div><h4>TUT#</h4></div>
				<div><h4>TA Name</h4></div>
				<div><h4>Zoom-ID/Link</h4></div>
				<div><h4>Zoom-Password</h4></div>
				<!--tut#1-->
				<div><p>TUT 0001(Monday 11:00 AM - 12:00 PM)</p></div>
				<div><p>Sakina Gadriwala</p></div>
				<div><p>Meeting ID: 848 3878 9402<br><a href ="https://utoronto.zoom.us/j/84838789402">Link</a></p></div>
				<div><p>TRd0Nx@^Es</p></div>
				<!--tut#2-->
				<div><p>TUT 0002(Monday 12:00 PM - 1:00 PM)</p></div>
				<div><p>Moe Ali</p></div>
				<div><p>Meeting ID: 875 4862 2893<br><a href ="https://utoronto.zoom.us/j/87548622893">Link</a></p></div>
				<div><p>N/A</p></div>
				<!--tut#3-->
				<div><p>TUT 0003(Monday 1:00 PM - 2:00 PM)</p></div>
				<div><p>Maunica Toleti</p></div>
				<div><p>Meeting ID: 813 1525 1237<br><a href ="https://utoronto.zoom.us/j/81315251237">Link</a></p></div>
				<div><p>118196</p></div>
				<!--tut#5-->
				<div><p>TUT 0005(Friday 2:00 PM - 3:00 PM)</p></div>
				<div><p>Tabeeb Yeamin</p></div>
				<div><p>Meeting ID: 865 0261 7024<br><a href ="https://utoronto.zoom.us/j/86502617024">Link</a></p></div>
				<div><p>b20tut5</p></div>
				<!--tut#6-->
				<div><p>TUT 0006(Thursday 12:00 PM - 1:00 PM)</p></div>
				<div><p>Vidya Ananda</p></div>
				<div><p>Meeting ID: 813 7480 0071<br><a href ="https://utoronto.zoom.us/j/81374800071">Link</a></p></div>
				<div><p>b20tut6</p></div>
			</div>
			<br>
		</div>
	</div>
	<div class="content">
		<div class="content-box">
			<h3>Lab Content</h3>
			<hr>
			<p>What you'll be doing in your labs!</p>
			<div class="container">
				<!-- header -->
				<div><h4>Week</h4></div>
				<div><h4>Content</h4></div>
				<div><h4>Code DL</h4></div>
				<div><h4>Recording</h4></div>
				<!--1st week-->
				<div><p>1</p></div>
				<div><p>No tutorial first week!</p></div>
				<div><p>N/A</p></div>
				<div><p>N/A</p></div>
				<!--2nd week-->
				<div><p>2</p></div>
				<div><p><a href="https://mstrzhang.github.io/cscb20/2019/01/07/week2.html">Week 2</a></p></div>
				<div><p><a href="https://mstrzhang.github.io/cscb20/code.html">Code</a></p></div>
				<div><p><a href="https://utoronto.zoom.us/rec/play/x1shCDhfmmoHVsUFDZ7np8yF3axiyH-taRveLzf_PbiEE7Z1txA36zoyl2p942dBktmLX-pS2FeWgm8X.pZ8kjohtZ5wzsq-3?continueMode=true&_x_zm_rtaid=xNNkIa_2QB67EFx4bzvQ2A.1615930528941.63d138edb3bf1165c5acc25b1f345180&_x_zm_rhtaid=487">Zoom Link</a></p></div>
				<!--3rd week-->
				<div><p>3</p></div>
				<div><p><a href="https://mstrzhang.github.io/cscb20/2019/01/16/week3.html">Week 3</a></p></div>
				<div><p><a href="https://mstrzhang.github.io/cscb20/code.html">Code</a></p></div>
				<div><p><a href="https://utoronto.zoom.us/rec/play/LggDBr25kxWDMjuC9vShnfv_g9ny1-V9BdAi5VlL7FZbvvYpd8x_Tm4jZRUz1HXqRLnRLWb9jxNgxazF.KJ5mUERlYqIA8RF4?startTime=1611853526000&_x_zm_rtaid=xNNkIa_2QB67EFx4bzvQ2A.1615930528941.63d138edb3bf1165c5acc25b1f345180&_x_zm_rhtaid=487">Zoom Link</a></p></div>
				<!--4th week-->
				<div><p>4</p></div>
				<div><p><a href="https://mstrzhang.github.io/cscb20/2019/01/27/week4.html">Week 4</a></p></div>
				<div><p><a href="https://mstrzhang.github.io/cscb20/code.html">Code</a></p></div>
				<div><p><a href="https://utoronto.zoom.us/rec/play/lsyWFFktlkj15yASK8tu7Rl58E3SjlcQJOAQVWmVQImJm-w4slZ3n0oX2IzVXfuTwSwTy7qiH-W_FUce.6jjr9X25_VyWoKdv?startTime=1612458593000&_x_zm_rtaid=xNNkIa_2QB67EFx4bzvQ2A.1615930528941.63d138edb3bf1165c5acc25b1f345180&_x_zm_rhtaid=487">Zoom Link</a></p></div>
			</div>
			<br>
		</div>
	</div>
</body>
<footer>
    <hr>
	<div class="center">
		<p>
			<b>CS Faculty Members:</b> <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty Link</a><br>
			<b>Site created by:</b>Eric Zhou & Zhaoyue Yang & Shijun Sui<br>
			<b>Copyright © 2021</b>
		</p>
		<br>
	</div>
</footer>
</html>