<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>CSCB20 - Introduction to Databases and Web Applications</title>
	<link rel="stylesheet" href ="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="header center">
		CSCB20 - Introduction to Databases and Web Applications
	</div>
	<div class="navbar">
		<ul>
			<li><a href ="/">Home</a></li>
            <li><a href ="/news">News</a></li>
			<li><a class="show" href ="/lectures">Lectures</a></li>
			<li><a href ="/labs">Labs</a></li>
			<li><a href ="/assignments">Assignments</a></li>
			<li><a href ="/tests">Tests</a></li>
			<li><a href ="/office">Office Hours</a></li>
            <li><a href ="/team">Course Team</a></li>
			<li><a href="/feedback">Feedback</a></li>
            <li><a href="/links">Links</a></li>
            <li><a href="/marks">Marks</a></li>
			<li><a href ="https://piazza.com/class/kk052lckppx73x/home">Discussion Board</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</div>
	<div class="content">
		<div class="content-box">
			<h3>Lecture Schedule</h3>
			<hr>
			<h4>Course Video Links</h4>
			<p>
				Purva's: <a href="https://web.microsoftstream.com/user/e0176eea-d00d-441d-a734-1e5ea5df5649">LEC01</a> <br>
				Abba's: <a href="https://web.microsoftstream.com/user/afab1fff-9269-4963-8b3e-1fa14fd49819">LEC02</a> <br>
			</p>
			<hr>
			<h4>Lecture Materials</h4>
			<p>
				Feel free to print lecture slides/handsouts for class!<br>
			</p>
			<div class="container">
				<!-- 1st row --> 
				<div><h4>Week</h4></div>
				<div><h4>Topic</h4></div>
				<div><h4>Readings</h4></div>
				<div><h4>Lecture Slides</h4></div>
				<!-- 2nd row --> 
				<div>1</div>
				<div> Intro to CSCB20 </div>
				<div> None </div> 
				<div><a href="../static/lecture_materials/w1.pdf">LEC#01</a></div>
				<!-- 3rd row --> 
				<div>2</div>
				<div> Relational Model & Introduction to SQL and MySQL </div>
				<div>
					<a href="http://infolab.stanford.edu/~ullman/fcdb/aut07/slides/ra.pdf">
					Relational Algebra</a>
				</div> 
				<div><a href="../static/lecture_materials/w2.pdf">LEC#02</a></div>
				<!-- 4th row --> 
				<div>3</div>
				<div>Relational Algebra Continued</div>
				<div> None </div> 
				<div><a href="../static/lecture_materials/w3.pdf">LEC#03</a></div>
				<!-- 5th row --> 
				<div>4</div>
				<div>SQL Queries</div>
				<div> 
					<a href="https://www.tutorialspoint.com/sql/">Tutorialpoint SQL</a> <br><br>
					<a href="https://www.codecademy.com/learn/learn-sql">Codeacademy SQL</a>
				</div> 
				<div><a href="../static/lecture_materials/w4.pdf">LEC#04</a></div>
			</div>
			<br>
		</div>
	</div>
</body>
<footer>
    <hr>
	<div class="center">
		<p>
			<b>CS Faculty Members:</b> <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty Link</a><br>
			<b>Site created by:</b>Eric Zhou & Zhaoyue Yang & Shijun Sui<br>
			<b>Copyright © 2021</b>
		</p>
		<br>
	</div>
</footer>
</html>