<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>CSCB20 - Introduction to Databases and Web Applications</title>
	<link rel="stylesheet" href ="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="header center">
		CSCB20 - Introduction to Databases and Web Applications
	</div>
	<div class="navbar">
		<ul>
			<li><a href ="/">Home</a></li>
            <li><a class="show" href ="/news">News</a></li>
			<li><a href ="/lectures">Lectures</a></li>
			<li><a href ="/labs">Labs</a></li>
			<li><a href ="/assignments">Assignments</a></li>
			<li><a href ="/tests">Tests</a></li>
			<li><a href ="/office">Office Hours</a></li>
            <li><a href ="/team">Course Team</a></li>
			<li><a href="/feedback">Feedback</a></li>
            <li><a href="/links">Links</a></li>
            <li><a href="/marks">Marks</a></li>
			<li><a href ="https://piazza.com/class/kk052lckppx73x/home">Discussion Board</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</div>
    <!-- UPDATE INFO -->
	<h3><mark>LAST UPDATED: MARCH 16TH, 2021</mark></h3><br>
    <div class="content">
        <h3><u>DEADLINES</u></h3>
        <ul>
            <li>Assignment 2 due March 17th, 2021</li>
        </ul>
        <br>
        <h4><u>UPDATE: March 16th, 2021</u></h4>
        <ul>
            <li>Added Lectures 3 - 4!</li>
            <li>Added Assignments  2!</li>
            <li>Added Labs 3 - 4!</li>
        </ul>
        <br>
        <h4><u>UPDATE: March 15th, 2021</u></h4>
        <ul>
            <li>Added Lectures 2!</li>
            <li>Added Assignments 1!</li>
            <li>Added Labs 2!</li>
        </ul>
        <h4><u>UPDATE: March 14th, 2021</u></h4>
        <ul>
            <li>Added Lectures 1!</li>
            <li>Added Labs 1!</li>
            <li>Added anonymous feedback!</li>
            <li>Added Piazza/Discussion Board!</li>
            <li>Added Tests info with previous exam repository link!</li>
        </ul>
        <h4><u>UPDATE: March 13th, 2021</u></h4>
        <ul>
            <li>Added Syllabus link!</li>
            <li>Added MarkUs link!</li>
            <li>Developed Homepage!</li>
            <li>Added News section!</li>
        </ul>
    </div>
</body>
<footer>
    <hr>
	<div class="center">
		<p>
			<b>CS Faculty Members:</b> <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty Link</a><br>
			<b>Site created by:</b>Eric Zhou & Zhaoyue Yang & Shijun Sui<br>
			<b>Copyright © 2021</b>
		</p>
		<br>
	</div>
</footer>
</html>