<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>CSCB20 - Introduction to Databases and Web Applications</title>
	<link rel="stylesheet" href ="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="header center">
		CSCB20 - Introduction to Databases and Web Applications
	</div>
	<div class="navbar">
		<ul>
			<li><a class="show" href ="/">Home</a></li>
            <li><a href ="/news">News</a></li>
			<li><a href ="/lectures">Lectures</a></li>
			<li><a href ="/labs">Labs</a></li>
			<li><a href ="/assignments">Assignments</a></li>
			<li><a href ="/tests">Tests</a></li>
			<li><a href ="/office">Office Hours</a></li>
            <li><a href ="/team">Course Team</a></li>
			<li><a href="/feedback">Feedback</a></li>
            <li><a href="/links">Links</a></li>
            <li><a href="/marks">Marks</a></li>
			<li><a href ="https://piazza.com/class/kk052lckppx73x/home">Discussion Board</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</div>
	<div class="content">
		{% block content %}
		<h2>Welcome {{student}}, Click here to see your current <a href="/marks">grades</a>.</h2>
		{% endblock %}
		<h3>The status of your submitted Remarking Requests(only show up if submitted any)</h3>
		{% for rem in remark %}
		<h3>The status of your submitted Remarking Requests of {{rem.what}} is: {{rem.status}}</h3>
		{% endfor %}
		<div class="content-box">
			<h3>Course Description</h3>
			<hr>
			<p>
				A practical introduction to databases and Web app development. 
				Databases: terminology and applications; creating, querying and updating databases; 
				the entity-relationship model for database design. 
				Web documents and applications: static and interactive documents; 
				Web servers and dynamic server-generated content; 
				Web application development and interface with databases.
			</p>
			<h4>Exclusion</h4>
			<p>
				This course may not be taken after - or concurrently with - any C- or D-level CSC course.
			</p>
			<h4>Prerequisite</h4>
			<p>
				Some experience with programming in an imperative language such as Python, Java or C.
			</p>
			<h4>Syllabus</h4>
			<p>
				<a href ="../static/syllabus/syllabus.pdf">PDF</a>
			</p>
			<br>
		</div>
		<div class="content-box">
			<h3>Instructors</h3>
			<hr>
			<p>
				<b>Dr. Abbas Attarwala</b><br>
				<u>Email</u>: <a href="mailto:abbas.attarwala@utoronto.ca">abbas.attarwala@utoronto.ca</a><br>
				<u>Office</u>: IC 349<br>
				<u>Phone Number</u>: 416.208.5108 <br><br>
			</p>
			<p>
				<b>Dr. Purva Gawde</b><br>
				<u>Email</u>: <a href="mailto:purva.gawde@utoronto.ca">purva.gawde@utoronto.ca</a><br>
				<u>Office</u>: IC 412<br><br>
			</p>
		</div>
		<div class="content-box">
			<h3>Timetable</h3>
			<hr>
			<p>
				<b>Lectures</b><br>
				ASYCHRONOUS<br>
				Purva's: <a href="https://web.microsoftstream.com/user/e0176eea-d00d-441d-a734-1e5ea5df5649">LEC01</a> <br>
				Abba's: <a href="https://web.microsoftstream.com/user/afab1fff-9269-4963-8b3e-1fa14fd49819">LEC02</a> <br><br>
			</p>
		</div>
	</div>
</body>
<footer>
    <hr>
	<div class="center">
		<p>
			<b>CS Faculty Members:</b> <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty Link</a><br>
			<b>Site created by:</b> Eric Zhou & Zhaoyue Yang & Shijun Sui<br>
			<b>Copyright © 2021</b>
		</p>
		<br>
	</div>
</footer>
</html>
